/*.gallery {
  width: 60vw;
  flex-wrap: wrap;
}

.img-tile {
  width: 100%;
  z-index: 1;
}*/

.content-container {
  width: 100%;
  margin: 15px auto 15px auto;
}

.gallery-div {
  margin: auto;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  max-width: 80%;
}

.img-div {
  overflow: hidden;
  margin: 2px;
  position: relative;
}

.img-div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.small-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.8);
  z-index: 2;
  display: flex;
}

.zoom-icon {
  display: flex;
  opacity: 40%;
  max-height: 50%;
  max-width: 50%;
}

.close-icon {
  position: absolute;
  top: 85px;
  right: 5%;
  width: 50px;
  height: 50px;
}

/*.small-img {
  visibility: visible;
  position: relative;
  padding: 1px;
  height: 100%;
  z-index: 1;
}*/

.big-overlay {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  z-index: 4;
}

.big-img {
  display: flex;
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;
}

.next-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5%;
  top: 50%;
  -ms-transform: translateY(-50%);
}

.prev-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: rotate(180deg);
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .gallery-div {
    max-width: 90%;
  }
}
