.content-div {
  margin-top: 65px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.contact-div {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.form-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form {
  margin: auto;
  max-width: 80%;
  text-align: left;
}

.form-div h2 {
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.email-field,
.msg-field {
  width: 100%;
}

textarea {
  min-height: 127px;
}

button {
  background-color: #202122;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-outline {
  color: #f3eff5 !important;
}

::ng-deep .mat-input-element {
  caret-color: #f3eff5 !important;
}

#top {
  position: absolute;
  top: 0;
  height: 0;
}

