.content-div {
  margin: 15px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.contact-div {
  width: 100%;
  text-align: center;
}

.form {
  margin: auto;
  max-width: 80%;
  text-align: left;
}

.form-div h2 {
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.email-field,
.msg-field {
  width: 100%;
}

button {
  background-color: #202122;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-outline {
  color: #f3eff5 !important;
}
