#services-grid {
  width: 100vw;
}

div h2 {
  margin: auto;
  text-align: center;
}

div p {
  margin: auto;
  text-align: justify;
}

#content-div,
#form-div {
  max-width: 90%;
}

#img-div img {
  width: 45%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5),
    0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.email-field,
.msg-field {
  width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #f3eff5 !important;
}

::ng-deep .mat-form-field-outline {
  color: #f3eff5 !important;
}
