html, body {
    height: 100%;
  }
  
body{
  display: flex;
  flex-direction: column;
}

.nav{
  position: relative;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 15px 25px 10px rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.outer-div{
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: calc(100vh - 165px);
  background: #212121;
  background-image: url("../assets/images/fadeforest.png"); 
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'arial black';
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content{
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer{
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 100%;
  background-color: #8ebf42;
  box-shadow: 0px -5px 25px 10px rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  font-family: 'arial black';
}


/* KORJATTAVAA 
- footerin teksti/kuvat ei keskellä
- footeriin yhteystiedot?
- responsiivisuus
- galleria ja kuvien selaus
- hover -"animaatiot" + muut animaatiot
*/