<mat-grid-list [cols]="breakpoint" [rowHeight]="breakpoint2" id="services-grid" (window:resize)="onResize($event)">
  <mat-grid-tile colspan="1">
    <div id="content-div">
      <h2>Palvelut</h2>
      <br>
      <p>
        Metsäpalvelu WoodBoss Ky toteuttaa monipuoliset metsänhoitotyöt 
        alan kokemuksella ja ammattitaidolla Lahden seudulla. Tarjoamme 
        metsäpalveluita yksityisille maanomistajille, yrityksille ja 
        yhteisöille. Palveluitamme ovat: 
      </p>
      <br>
      <ul>
        <li>Hakkuut metsurityönä (harvennukset, ylispuidenpoisto, tuulenkaadot ym.)</li>
        <li>Energiapuun korjuu</li>
        <li>Taimikonhoitotyöt ja muut raivaussahatyöt</li>
        <li>Istutukset</li>
        <li>Piha- ja ongelmapuiden kaadot</li>
        <li>Puutavarakuljetukset traktorikalustolla</li>
        <li>Neuvonta metsäasioissa</li>
        <li>Polttopuiden myynti (klapina, metrihalkoina ja rankana).
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <div id="img-div">
      <img src="../../../assets/images/mestari.jpg">
    </div>
  </mat-grid-tile>
</mat-grid-list>
    
    
