.content-div {
  margin: 15px;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  text-align: center;
}

.services-div {
  width: 100%;
}

.services-div h2 {
  text-align: center;
}

.services-div h2,
.services-div p,
.services-div ul {
  margin: auto;
  width: 80%;
}

.img-div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  text-align: center;
}

.img-div img {
  margin: auto;
  max-height: 60%;
  max-width: 60%;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.15),
    0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

#top {
  position: absolute;
  top: 0;
  height: 0;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: 
  #img-div img {
    max-width: 90%;
  }

  #content-div {
    width: 90%;
    font-size: small;
  }*/

  .services-div h2,
  .services-div p,
  .services-div ul,
  .services-div li {
    width: 100%;
    margin: 0 0 0 0;
  }

  .img-div img {
    max-width: 100%;
  }
}
