#services-grid {
  width: 100vw;
  margin: auto;
  justify-self: center;
  text-align: center;
  display: flex;
}

div h2 {
  margin: auto;
  text-align: center;
}

div p,
div li {
  margin: auto;
  text-align: justify;
}

#content-div {
  position: relative;
  width: 70%;
}

#img-div img {
  max-width: 50%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5),
    0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  #img-div img {
    max-width: 90%;
  }

  #content-div {
    width: 90%;
    font-size: small;
  }
}
