<div id="top"></div>
<div class="content-div" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px" fxLayoutAlign="center none">
  <div class="services-div" fxFlex="100" fxFlex.gt-sm="50" fxFlexAlign="center">
    <h2>Palvelut</h2>
        <br>
        <p>
          Metsäpalvelu WoodBoss Ky toteuttaa monipuoliset metsänhoitotyöt 
          alan kokemuksella ja ammattitaidolla Lahden seudulla. Tarjoamme 
          metsäpalveluita yksityisille maanomistajille, yrityksille ja 
          yhteisöille. Palveluitamme ovat: 
        </p>
        <br>
        <ul>
          <li>Hakkuut metsurityönä (harvennukset, ylispuidenpoisto, tuulenkaadot ym.)</li>
          <li>Energiapuun korjuu</li>
          <li>Taimikonhoitotyöt ja muut raivaussahatyöt</li>
          <li>Istutukset</li>
          <li>Piha- ja ongelmapuiden kaadot</li>
          <li>Puutavarakuljetukset traktorikalustolla</li>
          <li>Neuvonta metsäasioissa</li>
          <li>Polttopuiden myynti (klapina, metrihalkoina ja rankana).
          </li>
        </ul>
  </div>

  <div class="img-div" fxFlex="100" fxFlex.gt-sm="50" fxFlexAlign="center start">
    <img src="../../../assets/images/mestari.jpg">
  </div>
</div>

    
