div h2{
    margin: auto;
    text-align: center;
    color: black;
}

div p{
    
    margin: auto;
    text-align: justify;
    color: black;
}

#content-div{
    width: 70%;
}

#img-div img{
    width: 45%;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.5), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    width: 100vw;
    text-align: center;
    margin: auto;
  }

