<div id="top"></div>
<div class="logo-class" >
  <img src="../../assets/images/woodboss_logo3.png" id="bigLogo"/>
</div>

<div class="spacer"></div>

<div class="content-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
  <div fxHide fxShow.gt-sm class="trees" fxFlex="25" >
    <!--<img src="../../../assets/images/vasen123.png" id="vasen123">-->
  </div>
  <div class="content-div" fxFlex="50" fxFlex.gt-sm="25" fxFlexAlign="center">
    <p>
      Metsäpalvelu WoodBoss Ky tarjoaa kattavat ja laadukkaat 
      metsänhoitopalvelut Lahden seudulla. 
      Oleellinen osa metsänhoidossa on puunkaadot ja taimikonhoito, 
      joihin me olemme erikoistuneita. Toimintaamme kuuluu myös 
      polttopuun myynti sekä luotettavat puutavarakuljetukset.

      Toteutamme metsänhoitotyöt asiakkaan toiveiden mukaan sille 
      sovitussa aikataulussa. Asiakas voi luottaa siihen, että metsässä 
      toimitaan metsänhoidon suositusten mukaisesti ja luonnonarvot 
      huomioiden. Nykyaikainen, toimiva metsäkonekalusto sekä työvälineet 
      takaavat työllemme laadukkaan lopputuloksen.
    </p>
  </div>
  <div class="img-div" fxFlex="50" fxFlex.gt-sm="25" fxFlexAlign="center">
    <img src="../../../assets/images/mestari.jpg">
  </div>
  <div fxHide fxShow.gt-sm class="trees" fxFlex="25">
    <!--<img src="../../../assets/images/oikea123.png" id="oikea123">-->
  </div>
</div>