<mat-grid-list cols="2" rowHeight="2:1" id="home-grid">
  <div class="logo">
    <img src="../../assets/images/woodboss_logo2.png" id="toolbar-title" routerLink="/"/>
  </div>
  <mat-grid-tile colspan="1">
    <div id="content-div">
      <p>
      Metsäpalvelu WoodBoss Ky tarjoaa kattavat ja laadukkaat 
      metsänhoitopalvelut Lahden seudulla. 
      Oleellinen osa metsänhoidossa on puunkaadot ja taimikonhoito, 
      joihin me olemme erikoistuneita. Toimintaamme kuuluu myös 
      polttopuun myynti sekä luotettavat puutavarakuljetukset. 
  
      Toteutamme metsänhoitotyöt asiakkaan toiveiden mukaan sille 
      sovitussa aikataulussa. Asiakas voi luottaa siihen, että metsässä 
      toimitaan metsänhoidon suositusten mukaisesti ja luonnonarvot 
      huomioiden. Nykyaikainen, toimiva metsäkonekalusto sekä työvälineet 
      takaavat työllemme laadukkaan lopputuloksen.
      </p>

    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    
    <div id="img-div">
      <img src="../../../assets/images/mestari.jpg">
    </div>
    
  </mat-grid-tile>

</mat-grid-list>
