.mat-toolbar {
  height: 100px;
  /*background: #74a436;*/
  background-color: #3f7d20;
  color: #0d0a0b;
}

.mat-grid-list {
  width: 100%;
}

.mat-grid-tile {
  justify-content: center;
}

#phone {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#phone img {
  width: 45px;
}

#phone p {
  position: relative;
  margin: auto;
  font-size: 150%;
  font-weight: bold;
}

#ig,
#fb {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 150px;
}

#ig p,
#fb p {
  position: relative;
  margin: auto;
  font-size: 100%;
  font-weight: bold;
  color: #0d0a0b;
  font-family: "Roboto";
}

a:hover {
  text-decoration: none;
}

#fb-logo {
  position: relative;
  margin: auto;
  width: 30px;
  height: 30px;
}

#insta-logo {
  position: relative;
  margin: auto;
  width: 32px;
  height: 32px;
}

#leftShadow,
#rightShadow {
  opacity: 0.8;
}

#leftShadow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .mat-toolbar {
    height: 200px;
  }
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
}
