<mat-toolbar id="footer-body">
  <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
    
    <mat-grid-tile colspan="1" >
      <div>
        <p>YTHEYSTIEDOT</p>
      </div>   
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../../assets/images/shadow.png" id="leftShadow" fxHide fxShow.gt-sm/>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" >
      <div id="phone">
        <img src="../../../assets/images/phone.png"/>
        <p>050-4664122</p>
      </div>   
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../../assets/images/shadow.png" id="rightShadow" fxHide fxShow.gt-sm/>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile colspan="1" >
          <a href="https://www.facebook.com/Mets%C3%A4palvelu-WoodBoss-Ky-895049920506009">
            <div id="fb" >
                <img src="../../../assets/images/face.png" id="fb-logo"/>
                <p>facebook</p> 
            </div>
          </a>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" >
          <a href="instagram.com">
          <div id="ig">
              <img src="../../../assets/images/insta.png" id="insta-logo"/>
              <p>instagram</p>
          </div>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>

  </mat-grid-list>
</mat-toolbar>