.footer-conteiner {
  justify-content: center;
  width: 100%;
}

.contact-div,
.phone-div,
.sm-div {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  overflow: hidden;
}

a:link {
  color: black;
  text-decoration: none;
}

.phone-nmbr p {
  margin-bottom: 0;
}

.shadow-box img {
  object-fit: contain;
  height: 100%;
}

#leftShadow,
#rightShadow {
  opacity: 0.8;
}

#leftShadow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.divider {
  margin: 5px auto 5px auto;
  width: 70%;
  background-color: black;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .footer-conteiner {
    height: 300px;
  }
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
}
