<div class="footer-container" fxFlex="1 1 auto" fxLayout="row" fxLayout.xs="column">
  <div class="contact-div" fxFlex="40%" fxFlex.gt-sm="33%" >
    <div class="p-div" fxFlex="auto" fxLayout="column" fxLayoutGap="1px">
      <p>YHTEYSTIEDOT</p>
      <p>Aholantie 196</p>
      <p>17410 Viitaila</p>
      <p>niko.lehtinen@phnet.fi</p>
    </div>
  </div>

  <mat-divider class="divider" fxShow fxHide.gt-xs></mat-divider>

  <div fxHide fxShow.gt-sm class="shadow-box">
    <img src="../../../assets/images/shadow.png" id="leftShadow"/>
  </div>

  <div class="phone-div" fxFlex="30%" fxFlex.gt-sm="33%" >
    <a href="tel:050-4664122" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="5px">
      <div fxFlex="1 1 auto"><img src="../../../assets/images/phone.png" /></div>
      <div class="phone-nmbr" fxFlex="auto"><p>050-4664122</p></div>   
    </a>
  </div>

  <div fxHide fxShow.gt-sm class="shadow-box">
    <img src="../../../assets/images/shadow.png" id="rightShadow"/>
  </div>

  <mat-divider class="divider" fxShow fxHide.gt-xs></mat-divider>

  <div class="sm-div" fxFlex="30%" fxFlex.gt-sm="33%">
    <div fxFlex="1 1 auto">
      <p>Seuraa meitä sosiaalisessa mediassa</p>
      <div fxLayout="row">
        <a href="https://www.facebook.com/Mets%C3%A4palvelu-WoodBoss-Ky-895049920506009" fxFlex="1 1 50">
          <div id="fb" >
              <img src="../../../assets/images/facebook.png" id="fb-logo"/>
          </div>
        </a>
        <a href="https://www.instagram.com/woodbossky/?hl=fi" fxFlex="1 1 50">
          <div id="ig">
              <img src="../../../assets/images/instagram.png" id="insta-logo"/>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
