<div class="footer-container" fxFlex="1 1 auto" fxLayout="row" fxLayout.xs="column">
  <div class="contact-div" fxFlex="33.3%" fxFlex.gt-sm="25%" >
    <div class="p-div" fxFlex="auto" fxLayout="column" fxLayoutGap="1px">
      <p>YHTEYSTIEDOT</p>
      <p>Aholantie 196</p>
      <p>17410 Viitaila</p>
      <p>niko.lehtinen@phnet.fi</p>
    </div>
  </div>

  <mat-divider class="divider" fxShow fxHide.gt-xs></mat-divider>

  <div fxHide fxShow.gt-sm class="shadow-box" fxFlex="12.5">
    <img src="../../../assets/images/shadow.png" id="leftShadow"/>
  </div>

  <div class="phone-div" fxFlex="33.3%" fxFlex.gt-sm="25%" fxLayout="column" fxLayoutGap="5px">
    <div fxFlex="1 1 auto"><img src="../../../assets/images/phone.png" /></div>
    <div class="phone-nmbr" fxFlex="auto"><p>050-4664122</p></div>   
  </div>

  <div fxHide fxShow.gt-sm class="shadow-box" fxFlex="12.5">
    <img src="../../../assets/images/shadow.png" id="rightShadow"/>
  </div>

  <mat-divider class="divider" fxShow fxHide.gt-xs></mat-divider>

  <div class="sm-div" fxFlex="33.3%" fxFlex.gt-sm="25%">
    <div fxFlex="1 1 auto">
      <p>Seuraa meitä sosiaalisessa mediassa</p>
      <div fxLayout="row">
        <a href="https://www.facebook.com/Mets%C3%A4palvelu-WoodBoss-Ky-895049920506009" fxFlex="1 1 50">
          <div id="fb" >
              <img src="../../../assets/images/facebook.png" id="fb-logo"/>
          </div>
        </a>
        <a href="instagram.com" fxFlex="1 1 50">
          <div id="ig">
              <img src="../../../assets/images/instagram.png" id="insta-logo"/>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<!--<mat-toolbar id="footer-body">
  <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
    
    <mat-grid-tile colspan="1" >
      <div>
        <p>YHTEYSTIEDOT</p>
        <p>Aholantie 196</p>
        <p>17410 Viitaila</p>
        <p>niko.lehtinen@phnet.fi</p>
      </div>   
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../../assets/images/shadow.png" id="leftShadow" fxHide fxShow.gt-sm/>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" >
      <div id="phone">
        <img src="../../../assets/images/phone.png"/>
        <p>050-4664122</p>
      </div>   
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../../assets/images/shadow.png" id="rightShadow" fxHide fxShow.gt-sm/>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile colspan="1" >
          <a href="https://www.facebook.com/Mets%C3%A4palvelu-WoodBoss-Ky-895049920506009">
            <div id="fb" >
                <img src="../../../assets/images/face.png" id="fb-logo"/>
                <p>facebook</p> 
            </div>
          </a>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" >
          <a href="instagram.com">
          <div id="ig">
              <img src="../../../assets/images/insta.png" id="insta-logo"/>
              <p>instagram</p>
          </div>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>

  </mat-grid-list>
</mat-toolbar>-->