<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" (click)="onSidenavClose()">
    <span class="nav-caption">YRITYS</span>
  </a>

  <a mat-list-item routerLink="/palvelut" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" (click)="onSidenavClose()">
    <span class="nav-caption">PALVELUT</span>
  </a>

  <a mat-list-item routerLink="/yhteystiedot" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" (click)="onSidenavClose()">
    <span class="nav-caption">YHTEYSTIEDOT</span>
  </a>

  <a mat-list-item routerLink="/galleria" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}" (click)="onSidenavClose()">
    <span class="nav-caption">GALLERIA</span>
  </a>
</mat-nav-list>
